{{!-- <img src ='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTWHgUtdX_eUH5HElBKOCmNWap4_s_yaiCvqN6kVcATtH8K6GBX8A'>
<h1>Search Github for any keyword:</h1>
<form {{action 'submitAction'}}>
  <p>
    {{input value=search}} --}}
  {{!-- </p> --}}
  {{!-- <button type="submit">Search</button> --}}
  {{!-- {{#link-to 'repos' type='button' class="btn btn-primary"}}Search{{/link-to}}
</form>
<h1>Here are the Respositories that match your Search:</h1>
<ul>
{{#each repo in model}}
  <li>{{repo}}</li>
{{/each}}
</ul> --}}
{{log model.totalCount}}

{{#each model.items as |links|}}
  {{repo-card links=links favorite='favorite'}}
{{/each}}
